.NavNavigate{
    margin: 24px 0;
}

.mainPostNews .contener{
    max-width: 1140px;
    margin:  0 auto;
    display: flex;
    margin-bottom: 24px;
}

.mainPostNews .contener .left {
    flex: 4;
    margin-right: 12px;
}

.mainPostNews .contener .left h1{
    margin: 0 0 24px 0;
}

.mainPostNews .contener .left span{
   display: block;
   margin: 8px 0;
   font-size: 13px;
   color: rgb(133, 124, 124);
}

.mainPostNews .contener .left img{
    max-width: 100%;
    border-radius: 4px;
    margin: 12px 0;
}